* {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  font-family: 'Lexend Deca', sans-serif;
  color: white;
}

.main {
  font-size: 0;
}

h2 {
  font-family: 'Big Shoulders Display', sans-serif;
  font-weight: 700;
}
.card-title {
  margin-bottom: 25px;
}
.card {
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  width: 327px;
  height: 442px;
  padding: 48px;
  font-size: 15px;
}

.card-1 {
  background-color: #e28625;
  border-radius: 8px 8px 0px 0px;
}
.boton-1,
.boton-2,
.boton-3 {
  position: absolute;
  bottom: 48px;
  background-color: white;
  padding: 12px;
  width: 146px;
  text-align: center;
  border-radius: 25px;
}
.boton-1 {
  color: #e28625;
}
.boton-2 {
  color: #006971;
}
.boton-3 {
  color: #004140;
}

@media (hover: hover) {
  .boton-1:hover,
  .boton-2:hover,
  .boton-3:hover {
    background-color: transparent;
    color: white;
    border: 2px solid;
  }
}

.card-2 {
  background-color: #006971;
}
.card-3 {
  background-color: #004140;
  border-radius: 0px 0px 8px 8px;
}

.image-container {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.199);
  border-radius: 50%;
}

.img {
  position: absolute;
  margin-bottom: 35px;
  left: 20px;
  top: 10px;
}

@media screen and (width >= 720px) {
  .card {
    width: 307px;
    height: 500px;
  }
  .card-1 {
    border-radius: 8px 0 0 8px;
  }
  .card-3 {
    border-radius: 0 8px 8px 0;
  }
}
